body {
  margin: 0;
  width: 100vw;
  padding: 0;
  text-align: center;
  background-color: #b6d9ac;
}

#add {
  background-color: #a8bbd9;
  font-size: x-large;
  border-radius: 40%;
}

input {
  font-size: x-large;
  border: 3px solid #000;
}

button {
  font-size: xx-large;
}

#content {
  /* border: 2px solid goldenrod; */
  height: 85vh;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}